<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.typekit.net/nyc0sje.css">

        <link rel="stylesheet" href="../css/color.css">
        <link rel="stylesheet" href="../css/main.css">

        <link rel="stylesheet" href="../css/accept.css">

        <title>eChat | Accept</title>
    </head>

    <body>
        <!-- effect -->
        <div class="lightleak"></div>

        <div id="main">
            <div class="card hide center shadow">
                <div class="circle shadow"></div>
                <i class="fas fa-check"></i>

                <div class="detail">
                    <h1>Checking</h1>
                    <p>please wait a few time</p>
                </div>
            </div>

            <div class="hide loading">
                <span class="load-circle"></span>
                <span class="load-circle"></span>
                <span class="load-circle"></span>
            </div>
        </div>

        <script src="../js/controller/accept.js"></script>
    </body>
</html>