<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://use.typekit.net/nyc0sje.css">

        <link rel="stylesheet" href="../css/color.css">
        <link rel="stylesheet" href="../css/main.css">

        <link rel="stylesheet" href="../css/setup.css">

        <title>eChat | Setup</title>
    </head>

    <body>
        <!-- effect -->
        <div class="lightleak"></div>

        <div class="form hide center shadow">
            <div class="detail">
                <p><input type="text" placeholder="your user name"></p>
                <p><input type="text" placeholder="room name"></p>
                <p><input type="password" placeholder="room key"></p>
                <p><input type="password" placeholder="room key (confirm)"></p>
            </div>

            <div class="button">
                <button class="shadow">continue</button>
                <button class="shadow">cancel</button>
            </div>
        </div>

        <script src="../js/extention.js"></script>
        <script src="../js/controller/setup.js"></script>
    </body>
</html>
